# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [130]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Importing the dataset
pokemon = pd.read_csv("pokemon.csv")

In [6]:
pokemon=pokemon.drop('#', axis=1)

In [7]:
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [19]:
# Lets make a column that adds all the variables. The hypothesis is that the sum of all the variables = Total
pokemon['hypothesis']=pokemon.loc[:,['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].sum(axis=1)

In [24]:
# Lets compare if the hypothesis is confirmed by comparing columns
pokemon['hypothesis'].equals(pokemon['Total']

True

The formula is the addition of the variables

The formula works for all pokemon because by comparing the two columns we stated that they re the same

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [68]:
unique_T1=pd.unique(pokemon['Type 1'])
unique_T2=pd.unique(pokemon['Type 2'])
unique_T1=pd.DataFrame(unique_T1)
unique_T2=pd.DataFrame(unique_T2)

In [75]:
# We are going to concatenate all the unique types into a dataframe
types = pd.concat([unique_T1,unique_T2], axis=0)

In [120]:
types

           0
0      Grass
1       Fire
2      Water
3        Bug
4     Normal
5     Poison
6   Electric
7     Ground
8      Fairy
9   Fighting
10   Psychic
11      Rock
12     Ghost
13       Ice
14    Dragon
15      Dark
16     Steel
17    Flying
0     Poison
1        NaN
2     Flying
3     Dragon
4     Ground
5      Fairy
6      Grass
7   Fighting
8    Psychic
9      Steel
10       Ice
11      Rock
12      Dark
13     Water
14  Electric
15      Fire
16     Ghost
17       Bug
18    Normal

In [29]:
from sklearn.preprocessing import OneHotEncoder

"encoder = OneHotEncoder(drop='first').fit(categorical)  #encoder - drop first column of array for hot encoded categories because the first col can be infered using the others\nencoded = encoder.transform(categorical).toarray() #encoded - use encoder transform method to put categoricals into array\nencoded_columns = OneHotEncoder(drop='first').fit(categorical).get_feature_names(input_features=categorical.columns) # this allows us to get the columns names for our encoded array\nonehot_encoded_X = pd.DataFrame(encoded, columns = encoded_columns) #new onehotencoded columns X because its still features\nonehot_encoded_X.head(20)"

In [126]:
# We encode all the types
encoder = OneHotEncoder(drop='first').fit(types)  #encoder - drop first column of array for hot encoded categories because the first col can be infered using the others
 # this allows us to get the columns names for our encoded array
onehot_encoded_X = pd.DataFrame(encoded, columns = encoded_columns) #new onehotencoded columns X because its still features
onehot_encoded_X.columns = onehot_encoded_X.columns.str.replace('x0_', '')
onehot_encoded_X= onehot_encoded_X.astype(int)

In [127]:
onehot_encoded_X.head()

,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water,nan
0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [128]:
onehot_encoded_X['Total']=pokemon[['Total']]

In [134]:
correlations_matrix = onehot_encoded_X.corr()
correlations_matrix

,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water,nan,Total
Dark,1.000000,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.039841,-0.078277
Dragon,-0.057143,1.000000,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.039841,-0.225886
Electric,-0.057143,-0.057143,1.000000,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.039841,0.030825
Fairy,-0.057143,-0.057143,-0.057143,1.000000,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.039841,0.378302
Fighting,-0.057143,-0.057143,-0.057143,-0.057143,1.000000,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.039841,-0.067275
Fire,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,1.000000,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.039841,0.050078
Flying,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,1.000000,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.039841,-0.315735
Ghost,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,1.000000,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.039841,0.095920
Grass,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,1.000000,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.039841,-0.210300
Ground,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,1.000000,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.039841,0.286619
Ice,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,1.000000,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.039841,-0.290981
Normal,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,1.000000,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.039841,0.012489
Poison,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,1.000000,-0.057143,-0.057143,-0.057143,-0.057143,-0.039841,-0.000347
Psychic,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,1.000000,-0.057143,-0.057143,-0.057143,-0.039841,-0.122285
Rock,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,1.000000,-0.057143,-0.057143,-0.039841,0.153680
Steel,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,1.000000,-0.057143,-0.039841,-0.149789
Water,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,-0.057143,1.000000,-0.039841,0.192186
nan,-0.039841,-0.039841,-0.039841,-0.039841,-0.039841,-0.039841,-0.039841,-0.039841,-0.039841,-0.039841,-0.039841,-0.039841,-0.039841,-0.039841,-0.039841,-0.039841,-0.039841,1.000000,0.121211
Total,-0.078277,-0.225886,0.030825,0.378302,-0.067275,0.050078,-0.315735,0.095920,-0.210300,0.286619,-0.290981,0.012489,-0.000347,-0.122285,0.153680,-0.149789,0.192186,0.121211,1.000000

In [143]:
s = correlations_matrix.unstack() # returns a DataFrame having a new level of column labels
correlation_ranked = s.sort_values(kind="quicksort")  # unstack correlation matrix
np.sqrt(correlation_ranked**2) # We crate absolute values to sort them out

Total    Flying     0.315735
Flying   Total      0.315735
Total    Ice        0.290981
Ice      Total      0.290981
Total    Dragon     0.225886
                      ...
Psychic  Psychic    1.000000
Rock     Rock       1.000000
Steel    Steel      1.000000
Grass    Grass      1.000000
Total    Total      1.000000
Length: 361, dtype: float64

 The 1st pokemon type that is most likely to have the highest Total is Flying

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [ ]:
# your code here